.editImage{
  width: 18px;
  height: auto;
}

.nade-container{
  padding: 5px 0;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.nade-container div:not(.edit-nade-description-div){
  display: flex;
  align-items: center;
}
.description-submit-button{
  visibility: hidden;
  float: right;
}

.player-nade-description{
  display: inline-block;
  padding: 2px;
  margin-bottom: 10px;
}

.nade-description {
  text-align: left;
  display: inline-block;
  margin: 3px 0;
  padding: 10px 10px;
  width: 25vw;
  height: 5vh;
}

.edit-nade-description-div{
  display: none;
  text-align: left;
  /* display: inline-block; */
  position: relative;
  margin: 3px 0;
  padding: 0 10px;
  width: 25vw;
  height: 5vh;
  padding: 0;
}
.edit-nade-description-div textarea{
  padding: 15px 10px 10px 9px;
  line-height: .7;
}

.add-nades-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}



.nade-form{
  flex-direction: column;
}